#topBar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #0ac5f4;
    color: white;
    text-align: center;
    margin-bottom: 2px;
    padding: 5px;
}

#topBar span {
    font: 100 44px/1 'lato';
}

#bookInfoContainer {
    font-family: "lato";
}

#bookTitle {
    font: 400 50px/35px Abril Fatface;
}

#bookInfoContainer {
    background-color: #fcfaf2;
}

#videoContainer {
    background-color: #f8f5ef;
}

#infoDiv {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    margin-top: 0;
}

form {
    margin-top: 10%;
    float: left;
    bottom: 0;
    width: 100%;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border: 1px solid #E4E4E4;
}

.error-msg {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
}

#modernBrowser{
    position:absolute;
    height:auto;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

#modernBrowser img{
    height: 170px;
    width: 170px;
}

#modernBrowser img:hover {
    background-color: #cccccc;
}

#modernBrowser ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

#modernBrowser ul li{
    display: inline;
}

#modernBrowser ul li a {
}

